*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #ffff;
}
.nav{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.nav a{
    font-size: 1.6rem;
    text-decoration: none;
    color: #ffff;
}